<div *ngIf="countries.length === 0;else table" class="alert alert-warning text-center">
  No Hay paises que mostrar
</div>
<ng-template #table>
  <table table table-hover>
    <thead>
      <tr>
        <th></th>
        <th>Icon</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Poblacion</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let countri of countries;let i = index">
        <td>{{i+1}}</td>
        <td>{{countri.flag}}</td>
        <td><img [src]="countri.flags.svg" [alt]="countri.name.common"></td>
        <td>{{countri.name.common}}</td>
        <td>{{countri.capital}}</td>
        <td>{{countri.population | number}}</td>
        <td><a href="">Ver mas</a></td>
      </tr>
    </tbody>
  </table>
</ng-template>
